@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: #fff;
    height: 100vh;
}

header{
    width: 1280px;
    height: 100px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin: 40px 116px auto;
}

.div1{
    margin-left: 40px;
    margin-top: 18px;
    display: flex;
    gap: 15px;
}

.img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: url(https://s3-alpha-sig.figma.com/img/66cf/4c07/375b576e52134dc532f42541ecbeab1a?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XWnQ37hrwip6wlAMNjbhNdr1itQolslHJ~SkYrtgyzliYNrL8rNg8gDKLhpcWDtYTIZ7yA0~OwzLV31PLv~dLJ9f3h6uRrVpIKvXwGdyi1Eef0BmWCoXPDriJI1HYP6JclYYOeiNLys~VSfI51B44opdMRhiDRtupSypd79ZQalwOTwk-A-79Cd1eg9kW-c6xeKiX4vLnwxi2hatrQZgCvzEgYfTVzwydwZnWAR2lfS9IsfqRWjFVT50alXlTorv1~z10M8RvHz7YHKvQJKjmMKV0QlH1G9dWPckjIxy4dLXfRdOvS0Rm5ki7f3e9uYtQpMPvzntncyg4WaLiBzDsQ__);
    background-size: cover;
}

h2{
    font-family: 'Poppins',sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #111827;
}

p{
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #111827;
}

.div2{
    margin-top: 34px;
    margin-right: 40px;
}

button{
    border-radius: 6px;
    padding: 8px 16px;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.btn1{
    border: 1px solid #4F46E5;
    background-color: transparent;
    color: #111827;
    margin-right: 16px;
}

.btn2{
    border: 1px solid transparent;
    background-color: #4F46E5;
    color: #fff;
}
